@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@media only screen and (max-width: 500px) {
  body {
    color: #172b4d;
    background-image: url("images/Group 35.svg");
    background-repeat: no-repeat;
    background-position: center 4.5em;
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0;
  }

  header h1 {
    font-size: 1.2em;
  }

  header a {
    text-decoration: none;
    color: #172b4d;
  }

  nav {
    margin-top: 1em;
  }

  .headline h1 {
    position: relative;
    top: 1em;
    font-size: 2.5em;
    text-align: center;
    margin: 1em 2em 0;
  }

  .headline h1 span {
    display: block;
    color: #36b37e;
  }

  .headline p {
    font-size: medium;
    text-align: center;
    margin: 5em 6em 3em;
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
  }

  .social-media-icons a {
    padding: 1.2em;
  }

  .imgs {
    display: block;
  }

  .imgs #img1 {
    float: right;
  }

  .imgs #img2 {
    float: right;
    margin: 40em -5em 5em;
  }

  .imgs #img3 {
    float: left;
    margin: 30em 0 0;
  }

  .imgs #img4 {
    float: left;
    margin: 6em 0 0;
    opacity: 0.5;
  }

  .imgs #img5 {
    float: right;
    margin: 20em -5em 0;
  }

  .imgs #img6 {
    float: left;
    position: relative;
    left: 8em;
    margin-top: 30em;
  }

  #btn {
    display: block;
    position: relative;
    left: 50%;
    top: 4em;
  }

  .work h2 {
    font-size: 3em;
    text-align: center;
    margin: 2em 1em 0;
  }

  .work #img10 {
    display: block;
    margin: 1em auto 3em;
  }

  .work .container {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid #d0d9d4;
    background-color: #d0d9d4;
    margin: 1.5em;
    border-radius: 0.5em;
  }

  .work .container .sub-container {
    text-align: center;
    margin-top: 20em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
  }

  .work .container .sub-container .empty {
    border: none;
    border-radius: 0.5em;
  }

  .container-form h3 {
    margin-top: -0.5em;
    font-weight: normal;
    font-size: 1.3em;
    color: #42526e;
    text-align: center;
  }

  .about-me .container-about h3 {
    font-size: 1.5em;
    text-align: center;
  }

  .work .container .sub-container h3 {
    color: #3a4a42;
    font-size: 1.5em;
    margin: 0.5em 3em 0.5em;
  }

  .about-me .container-about ul {
    margin: 2em auto;
    list-style-type: none;
    text-align: center;
  }

  .work .container .sub-container ul {
    margin: 0 2em 0;
    list-style-type: none;
    text-align: left;
  }

  .about-me .container-about ul li {
    display: inline-block;
    border: none;
    background-color: white;
    color: #36b37e;
    padding: 0.5em;
    margin: 0.5em 0.5em;
    border-radius: 0.5em;
    font-size: small;
    font-weight: normal;
    text-align: center;
  }

  .work .container .sub-container ul li {
    display: inline;
    border: none;
    background-color: #ebf0ee;
    color: #3a4a42;
    padding: 0.5em;
    margin: 0.4em;
    border-radius: 0.5em;
    font-size: small;
    font-weight: normal;
    text-align: center;
  }

  .about-me a {
    border: none;
    background-color: #36b37e;
    padding: 1em;
    width: 150px;
    height: 25px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 1.6em auto;
    border-radius: 0.5em;
  }

  .work .container .sub-container a {
    border: none;
    background-color: #36b37e;
    padding: 1em;
    width: 100px;
    height: 25px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 1.4em auto;
    border-radius: 0.5em;
  }

  .about-me h2 {
    font-size: 3em;
    text-align: center;
  }

  .about-me p {
    margin: 2em 4.7em 0;
    text-align: center;
  }

  .about-me #img7 {
    float: right;
    margin-top: -10em;
  }

  .about-me #img8 {
    float: left;
    margin-top: -5em;
  }

  .about-me .container-about {
    margin: 2em 1.6em;
    background-color: #ebf0ee;
    border-radius: 0.5em;
    height: 350px;
    width: 430px;
  }

  .about-me .container-about .a-img {
    display: flex;
    justify-content: center;
    height: 150px;
  }

  .about-me .container-about #img9 {
    margin-top: 2em;
    width: 60%;
    height: 150px;
  }

  .container-form p {
    margin: 2em 1em 2em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }

  .container-form input[type=text] {
    display: block;
    border: 1px solid #d0d9d4;
    width: 80%;
    margin: 0 auto 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form textarea {
    display: block;
    border: 1px solid #d0d9d4;
    width: 80%;
    margin: 0 auto 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form input[type=submit] {
    display: block;
    margin: 0 auto 3em;
    border: none;
    padding: 1em;
    color: white;
    background-color: #36b37e;
    border-radius: 0.5em;
  }
}
