@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  color: #172b4d;
  background-image: url("images/Group 35.svg");
  background-repeat: no-repeat;
  background-position: center 4.5em;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 1em 0;
}

header h1 {
  font-size: 1.2em;
}

header h1:hover {
  transform: rotate(360deg);
  transition-duration: 3s;
  color: #36b37e;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(88, 86, 86, 0.7);
  z-index: 999;
  cursor: pointer;
}

#error {
  position: relative;
  color: #d8000c;
  bottom: 0.5em;
  border: none;
  padding-left: 2em;
  font-size: 1.3em;
}

.popup,
.popup1,
.popup2,
.popup3 {
  background: white;
  border-radius: 0.5em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  color: #172b4d;
  visibility: hidden;
  height: 57em;
}

.open-popup {
  background: white;
  margin: 50% auto;
  position: absolute;
  top: 100%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  border: 1px solid #dfe1e6;
  padding: 1em;
  z-index: 999;
}

#imgExit,
#imgExit1,
#imgExit2,
#imgExit3 {
  position: absolute;
  right: 1.7em;
  top: 1.5em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.popup img,
.popup1 img,
.popup2 img,
.popup3 img {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13.75em;
  width: 20em;
  margin: 0 auto;
}

.popup ul,
.popup1 ul,
.popup2 ul,
.popup3 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -2.5em;
  list-style: none;
}

.popup li,
.popup1 li,
.popup2 li,
.popup3 li {
  border-radius: 0.5em;
  border: none;
  background: #ebf0ee;
  margin: 0.5em;
  padding: 0.5em;
}

.popup h1,
.popup1 h1,
.popup2 h1,
.popup3 h1 {
  text-align: left;
  margin-left: 0.5em;
  font-weight: 600;
}

.popup p,
.popup1 p,
.popup2 p,
.popup3 p {
  text-align: left;
  margin-left: 0.9em;
}

.popup .links,
.popup1 .links,
.popup2 .links,
.popup3 .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.popup a,
.popup1 a,
.popup2 a,
.popup3 a {
  border-radius: 0.3em;
  border: none;
  background: #36b37f;
  margin: 0.5em;
  padding: 0.3em;
  text-decoration: none;
  color: white;
  text-align: center;
}

.popup a img,
.popup1 a img,
.popup2 a img,
.popup3 a img {
  margin: 0.3em 0.3em;
  width: 1em;
  height: 1em;
  float: right;
}

#imgsd,
#imgsd1 {
  display: none;
}

#imgx,
#imgx1,
#imgx2,
#imgx3 {
  display: none;
}

#secondUL {
  display: none;
}

header a {
  text-decoration: none;
  color: #172b4d;
}

.toolbar nav {
  display: none;
}

nav.menu-btn {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 800;
  background: white;
  height: 100vh;
  padding: 1em;
}

#ham {
  cursor: pointer;
}

#exit {
  cursor: pointer;
}

nav #exit {
  float: right;
}

nav.menu-btn ul {
  list-style: none;
}

nav.menu-btn ul li {
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  line-height: 2em;
}

.headline h1 {
  font-size: 2em;
  text-align: center;
  margin: 2em 2em;
}

.headline h1 span {
  display: block;
  color: #36b37e;
}

.headline p {
  font-size: medium;
  text-align: center;
  margin: 3em 2.2em;
}

.social-media-icons {
  margin: 0 2em 0 auto;
}

.social-media-icons ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}

.social-media-icons ul li {
  padding: 1em;
}

.imgs-desc {
  display: none;
  position: absolute;
}

.imgs {
  position: relative;
}

.imgs #img1 {
  position: absolute;
  top: 0;
  right: 0;
}

.imgs #img2 {
  position: absolute;
  right: 0;
  top: 31em;
}

.imgs #img3 {
  position: absolute;
  left: 0;
  top: 23.5em;
}

.imgs #img4 {
  position: absolute;
  left: 1em;
  top: 5em;
  opacity: 0.5;
}

.imgs #img5 {
  position: absolute;
  right: 0;
  top: 7em;
}

.imgs #img6 {
  position: absolute;
  top: 24em;
  left: 7.5em;
}

#btn {
  display: block;
  margin: 2em auto;
}

.work h2 {
  font-size: 3em;
  text-align: center;
  margin: 0 1em 0;
}

.work #img10 {
  display: block;
  margin: 1em auto 3em;
}

.work .container {
  width: 20.43em;
  height: 40em;
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid #d0d9d4;
  background-color: #d0d9d4;
  margin: 1.5em;
  border-radius: 0.5em;
}

.work .container .sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20em;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  background-color: white;
}

.container-form h3 {
  margin-top: -0.5em;
  margin-bottom: 10em;
  font-weight: normal;
  font-size: 1.3em;
  color: #42526e;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-me .container-about h3 {
  font-size: 1.5em;
  text-align: center;
}

.work .container .sub-container h3 {
  color: #3a4a42;
  font-size: 1.5em;
  margin: 0.5em 2em 0.5em;
}

.about-me .container-about ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0.625em;
  margin: 0 auto;
  max-width: 21.875em;
  gap: 0.5em;
  list-style-type: none;
}

.about-me .container-about ul li {
  border: none;
  background-color: white;
  color: #36b37e;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: small;
  font-weight: normal;
}

.work .container .sub-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0.625em;
  margin: 0 auto;
  max-width: 21.875em;
  gap: 0.5em;
  list-style-type: none;
}

.work .container .sub-container ul li {
  border: none;
  background-color: #ebf0ee;
  color: #3a4a42;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: small;
  font-weight: normal;
}

.about-me a {
  border: none;
  background-color: #36b37e;
  padding: 1em;
  width: 150px;
  height: 25px;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1.6em auto;
  border-radius: 0.5em;
}

.work .main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.work .container .sub-container a {
  border: none;
  background-color: #36b37e;
  padding: 1em;
  width: 100px;
  height: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5em;
}

.about-me h2 {
  font-size: 3em;
  text-align: center;
}

.about-me p {
  margin: 2em 4.7em 0;
  text-align: center;
}

.about-imgs-desc {
  display: none;
}

.about-imgs {
  position: relative;
}

.about-imgs #img7 {
  position: absolute;
  right: 0;
  top: -10em;
}

.about-imgs #img8 {
  position: absolute;
  bottom: -19.5em;
}

.about-me .container-about {
  margin: 2em 1.6em;
  background-color: #ebf0ee;
  border-radius: 0.5em;
  height: 350px;
  width: 325px;
}

.about-me .container-about .a-img {
  display: flex;
  justify-content: center;
  height: 150px;
}

.about-me .container-about #img9 {
  margin-top: 2em;
  width: 60%;
  height: 150px;
}

.container-form p {
  margin: 2em 1em 2em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.sub-container-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  list-style: none;
  width: 20.44em;
}

.container-form #Full-name {
  border: 1px solid #d0d9d4;
  width: 20.43em;
  margin-top: 0;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.container-form input[type=email] {
  border: 1px solid #d0d9d4;
  width: 20.43em;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.input-name {
  display: none;
}

.container-form textarea {
  border: 1px solid #d0d9d4;
  width: 20.43em;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.container-form button {
  border: none;
  padding: 1em;
  color: white;
  background-color: #36b37e;
  border-radius: 0.5em;
  cursor: pointer;
  width: 8em;
  margin-bottom: 2em;
}

.container-form button:hover {
  color: white;
  background-color: #23dd90;
}

.form-img {
  position: relative;
}

#img-13 {
  position: absolute;
  right: 0;
  top: -9em;
}

#img-10 {
  display: none;
}

#img-11 {
  display: none;
}

#img-12 {
  display: none;
}

.imgs-contact {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("images-desk/backgorung-desktop.svg");
  }

  header h1 {
    display: none;
  }

  .toolbar nav {
    display: block;
  }

  #ham {
    display: none;
  }

  #exit {
    display: none;
  }

  nav {
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 350px;
    gap: 1.5em;
    list-style-type: none;
  }

  nav ul li {
    font-weight: 600;
  }

  .headline {
    margin-top: 12em;
  }

  .headline h1 {
    font-size: 3em;
    text-align: center;
    margin: 1em 2em;
  }

  .headline h1 span {
    display: block;
    color: #36b37e;
  }

  .headline p {
    font-size: medium;
    text-align: center;
    margin: 1em 25em;
  }

  .imgs-desc {
    display: flex;
    position: relative;
  }

  .imgs {
    display: none;
  }

  .imgs-desc #img1 {
    position: absolute;
    right: 0;
    top: 7em;
  }

  .imgs-desc #img2 {
    position: absolute;
    right: 20em;
    top: -16.2em;
  }

  .imgs-desc #img3 {
    position: absolute;
    left: 30em;
    top: 5em;
    opacity: 0.5;
  }

  .imgs-desc #img4 {
    position: absolute;
    left: 0;
    top: 15em;
  }

  .imgs-desc #img5 {
    position: absolute;
    left: 15em;
    bottom: -55em;
  }

  .imgs-desc #img6 {
    position: absolute;
    bottom: -48em;
    right: 46em;
  }

  .imgs-desc #img7 {
    position: absolute;
    bottom: -55em;
    right: 15em;
  }

  .work {
    margin-top: 35em;
  }

  .work #img10 {
    display: none;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }

  .container-form h3 {
    display: none;
  }

  .about-me h2 {
    margin: 4em 0 0.5em;
  }

  .about-me .container-about {
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: #ebf0ee;
    border-radius: 0.5em;
    width: 369px;
  }

  .sub-container-form {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10em;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #dfe1e6;
  }

  .sub-container-form form {
    display: grid;
    margin-right: 5em;
    list-style-type: none;
    width: 42em;
  }

  .sub-container-form p {
    margin-top: 1.2em;
    margin-left: 4em;
  }

  .sub-container-form #Full-name {
    display: none;
  }

  .input-name {
    display: flex;
  }

  .container-form #First-Name {
    border: 1px solid #d0d9d4;
    width: 19.3em;
    padding: 1em;
    margin-right: 0.9em;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

  .container-form #Last-Name {
    border: 1px solid #d0d9d4;
    width: 19.3em;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

  .main-container .container {
    width: 369px;
    margin: 1em;
  }

  .container-form input[type=email] {
    width: 41.75em;
    border: 1px solid #d0d9d4;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form textarea {
    width: 41.75em;
    height: 7.125em;
    border: 1px solid #d0d9d4;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form button {
    width: 8em;
    margin-bottom: 10em;
    cursor: pointer;
  }

  .container-form button:hover {
    color: white;
    background-color: #23dd90;
  }

  .main-container-about {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 0 8.87em;
  }

  .about-imgs-desc {
    display: flex;
    position: relative;
  }

  .about-imgs {
    display: none;
  }

  .about-imgs-desc #img-8 {
    position: absolute;
    right: 0;
    top: -12em;
  }

  .about-imgs-desc #img-9 {
    position: absolute;
    left: 0;
  }

  #img-10 {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #img-11 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #img-12 {
    display: block;
    position: absolute;
    left: 15em;
    bottom: 5em;
  }

  .about-me p {
    margin: 2em 15em 0;
    text-align: center;
  }

  .form-img {
    display: none;
  }

  .open-popupD {
    background: white;
    margin: 50% auto;
    position: absolute;
    top: 100%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    border: 1px solid #dfe1e6;
    padding: 1em;
    z-index: 999;
    height: 65em;
  }

  .popup img,
  .popup1 img,
  .popup2 img,
  .popup3 img {
    display: none;
  }

  .popup ul,
  .popup1 ul,
  .popup2 ul,
  .popup3 ul {
    display: none;
  }

  #imgsd,
  #imgsd1 {
    display: block;
    margin: 0 auto;
    width: 54.5em;
    height: 38.5em;
  }

  #imgx,
  #imgx1,
  #imgx2,
  #imgx3 {
    display: block;
    float: right;
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  .open-popupD #secondUL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -2.5em;
    list-style: none;
  }

  .open-popupD li {
    border-radius: 0.5em;
    border: none;
    background: #ebecf0;
    margin-right: 0.1em;
    padding: 0.3em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
  }

  .popup h1,
  .popup1 h1,
  .popup2 h1,
  .popup3 h1 {
    text-align: left;
    margin-left: 0.1em;
    margin-right: 10em;
    font-weight: 600;
  }

  .popup p,
  .popup1 p,
  .popup2 p,
  .popup3 p {
    text-align: left;
    margin: 0.2em;
  }

  .popup .links,
  .popup1 .links,
  .popup2 .links,
  .popup3 .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -16em auto;
  }

  .popup a,
  .popup1 a.popup2 a,
  .popup3 a {
    border-radius: 0.3em;
    border: none;
    background: #36b37f;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  .popup a img,
  .popup1 a img,
  .popup2 a img,
  .popup3 a img {
    display: block;
    margin: 0.3em 0.3em;
    width: 1em;
    height: 1em;
    float: right;
  }

  #error {
    position: absolute;
    color: #d8000c;
    top: 10.5em;
    right: 7em;
    border: none;
    padding-left: 1.5em;
    font-size: 1.5em;
    width: 10em;
    border-radius: 0.5em;
  }
}
